.catalog-tab-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 188px;
  max-width: inherit;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  cursor: pointer;
  margin: 0px;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  border-radius: 0px;
  background: #757575;
  border-right: .01rem solid #fff;
  text-align: center;
}

.tagger {
  display: none;
}

.catalog-tab-item .active {
  border-bottom: .4rem solid #4e4e4e;
}

::after {
  display: none;
}

.catalog-tab-item  {
  display: inline-block;
  text-decoration: none;
  letter-spacing: .055rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  color: #fff;
  font-size: 1.125rem;
}


.catalog-tab-item:hover {
  background-color: #eee;
  webkit-transition: color .3s linear;
}

#uw-ct-catalog-search-block-form abbr.form-required {
  display: none;
}

#block-views-aa21ba3d7366fc48e4150f566add9429 .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0em;
}
#block-views-aa21ba3d7366fc48e4150f566add9429 {
  margin-bottom: 20px;
}
.insert-links {
  float: right;
  margin-bottom: 5px;
}

div.catalog-title {
  display: list-item;
  list-style-type: square;
  margin-left: .8em;
}
#content .view-display-id-catalog_categories_page img {
  max-height: 60px;
}


/* Search tab */
#uw-ct-catalog-search-form #edit-combine-wrapper {
  width: 100%
}

#uw-ct-catalog-search-form #edit-combine-wrapper input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding-right: 2.5rem
}

#uw-ct-catalog-search-form #edit-combine-wrapper .ui-autocomplete {
  position: relative;
  top: -12px;
  width: 100%
}

#site-sidebar #uw-ct-catalog-search-form #edit-combine-wrapper .ui-autocomplete {
  width: 100%
}

#uw-ct-catalog-search-form .views-exposed-widget {
  padding: 0
}

#views-exposed-form-uw-services-search-services-search .views-exposed-widgets {
  position: relative;
  z-index: 0
}

#uw-ct-catalog-search-form .views-submit-button {
  position: absolute;
  z-index: 8;
  right: .25rem;
  height: 2rem;
  text-align: center
}

#uw-ct-catalog-search-form .views-submit-button:after {
  z-index: 2;
  position: absolute;
  bottom: .35rem;
  right: 0;
  height: 2.25rem;
  width: 2rem;
  content: "";
  font-family: fdsu-rwd;
  border-radius: 3px;
  color: #757575;
  font-size: 1.42383rem;
  text-rendering: auto;
  -moz-transition-property: color, background-color, border-color, opacity;
  -moz-transition-duration: .2s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: "linear";
  -ms-transition-property: color, background-color, border-color, opacity;
  -ms-transition-duration: .2s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: "linear";
  -webkit-transition-property: color, background-color, border-color, opacity;
  transition-property: color, background-color, border-color, opacity;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: "linear";
  transition-timing-function: "linear"
}

#uw-ct-catalog-search-form .views-submit-button:hover:after {
  color: #fff;
  background-color: #4e4e4e;
  -moz-transition-property: color, background-color, border-color, opacity;
  -moz-transition-duration: .2s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: "linear";
  -ms-transition-property: color, background-color, border-color, opacity;
  -ms-transition-duration: .2s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: "linear";
  -webkit-transition-property: color, background-color, border-color, opacity;
  transition-property: color, background-color, border-color, opacity;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: "linear";
  transition-timing-function: "linear"
}

#uw-ct-catalog-search-form #edit-submit {
  display: none;
}

#uw-ct-catalog-search-form .form-submit {
  position: relative;
  top: -3.7rem;
  right: 0;
  left: 44.8rem;
  z-index: 3;
  border-left: solid 1px #4e4e4e;
  display: block;
  text-indent: -9999rem;
  background-color: transparent;
  width: 2rem;
  padding: 0;
}


@media all and (max-width:30rem) {
  a.catalog-tab-item {
    display: block;
  }
}
